################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeRental/DesignTimeBuild
/.vs/BikeRental/FileContentIndex
